.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.75);
    background-color: $gondola;
    border-top: 6px solid $scorpion;
    z-index: 1;
}

.logo {
    margin-left: 50px;
    max-height: 40px;
}

ul#navbar li {
    display: inline;
}

.navbar-items {
    margin-right: 50px;
}

.navbar-items-text {
    font-size: 18px;
    line-height: 18px;
    color: $scorpion;
    padding: 15px;
}

.navbar-items-text:hover {
    color: $mineshaft;
}
