@import '../scss/variables/_colors.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.typed {
  font-size: calc(10px + 2vmin);
}

.info {
  font-size: calc(3px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dark-mode {
  background-color: $woodsmoke;
  color: $spring-wood;
}

.light-mode {
  background-color: $swirl;
  color: $diesel
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-container {
  width: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
