@import '../scss/variables/_colors.scss';

.App {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.typed {
  height: 5vh;
  font-size: calc(8px + 2vmin);
}

.info {
  font-size: calc(5px + 1vmin);
  height: 6vmin;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: $woodsmoke;
  color: $spring-wood;
  --ti-cursor-color: #FFF;
}

.light-mode {
  background-color: $swirl;
  color: $diesel;
  --ti-cursor-color: #000;
}

.toggle-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vh;
}

.social {
  width: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a:hover {
  opacity: 0.6;
}

.tint {
  filter: invert(80%);
  -webkit-filter: invert(80%); /*sepia, hue-rotate, invert....*/
}
