$woodsmoke: #14161A;
$spring-wood: #F6F3EF;
$swirl: #CFCAC0;
$diesel: #0F0200;
$gray-olive: #A8A08F;
$satin-linen: #E1DACC;
$shark: #262931;
$bright-gray: #3B404A;
$valhalla: #262064;
$gallery: #EEEDED;
$beryl-green: #E4E3C4;